<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>昇生源营养保健</key>
	<array>
		<dict>
			<key>name</key>
			<string>昇生源牌牛骨髓葡萄籽维生素C维生素E牛磺酸胶囊</string>
			<key>price</key>
			<string>300元</string>
			<key>time</key>
			<string>24个月</string>
			<key>counts</key>
			<string>0.5g×90粒×3瓶</string>
			<key>pv</key>
			<string>260</string>
			<key>number</key>
			<string>C171</string>
			<key>image</key>
			<string>1.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>昇生源牌黄芪菊苣枸杞子胶囊</string>
			<key>price</key>
			<string>280元</string>
			<key>time</key>
			<string>24个月</string>
			<key>counts</key>
			<string>0.45gx60粒x2瓶</string>
			<key>pv</key>
			<string>240</string>
			<key>number</key>
			<string>C170</string>
			<key>image</key>
			<string>2.jpg</string>
		</dict>
	</array>
	<key>圣泰诺美容护肤</key>
	<array>
		<dict>
			<key>name</key>
			<string>圣泰诺靓肤面膜套装</string>
			<key>price</key>
			<string>625元</string>
			<key>time</key>
			<string>3年</string>
			<key>counts</key>
			<string>25ml/片×8片</string>
			<key>pv</key>
			<string>600</string>
			<key>number</key>
			<string>S015</string>
			<key>image</key>
			<string>3.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>雪肌精华</string>
			<key>price</key>
			<string>1260元</string>
			<key>time</key>
			<string>3年</string>
			<key>counts</key>
			<string>30ml</string>
			<key>pv</key>
			<string>1100</string>
			<key>number</key>
			<string>S013</string>
			<key>image</key>
			<string>4.jpg</string>
		</dict>
	</array>
	<key>源之蕴个人护理</key>
	<array>
		<dict>
			<key>name</key>
			<string>源之蕴亲润护唇膏</string>
			<key>price</key>
			<string>120元</string>
			<key>time</key>
			<string>36个月</string>
			<key>counts</key>
			<string>3.0g</string>
			<key>pv</key>
			<string>100</string>
			<key>number</key>
			<string>C189</string>
			<key>image</key>
			<string>5.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>均衡养护润发乳</string>
			<key>price</key>
			<string>65元</string>
			<key>time</key>
			<string>36个月</string>
			<key>counts</key>
			<string>350ml</string>
			<key>pv</key>
			<string>50</string>
			<key>number</key>
			<string>C074</string>
			<key>image</key>
			<string>6.jpg</string>
		</dict>
	</array>
	<key>洁悠家居清洁</key>
	<array>
		<dict>
			<key>name</key>
			<string>摩涤士 洗衣液</string>
			<key>price</key>
			<string>70元</string>
			<key>time</key>
			<string>36个月</string>
			<key>counts</key>
			<string>1L</string>
			<key>pv</key>
			<string>60</string>
			<key>number</key>
			<string>C034</string>
			<key>image</key>
			<string>7.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>摩净士 多功能清洁剂</string>
			<key>price</key>
			<string>50元</string>
			<key>time</key>
			<string>36个月</string>
			<key>counts</key>
			<string>1L</string>
			<key>pv</key>
			<string>40</string>
			<key>number</key>
			<string>C036</string>
			<key>image</key>
			<string>8.jpg</string>
		</dict>
	</array>
	<key>益民康健康科技</key>
	<array>
		<dict>
			<key>name</key>
			<string>远红外贡缎子母被</string>
			<key>price</key>
			<string>3200元</string>
			<key>time</key>
			<string>---</string>
			<key>counts</key>
			<string>200cm×230cm</string>
			<key>pv</key>
			<string>2880</string>
			<key>number</key>
			<string>C184</string>
			<key>image</key>
			<string>9.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>医用护理垫</string>
			<key>price</key>
			<string>1800元</string>
			<key>time</key>
			<string>---</string>
			<key>counts</key>
			<string>180cm×200cm</string>
			<key>pv</key>
			<string>1600</string>
			<key>number</key>
			<string>C183</string>
			<key>image</key>
			<string>10.jpg</string>
		</dict>
	</array>
</dict>
</plist>
